lib/
bin/
.cache
.local
.private
.serena
.shared

src/version.h
src/version.rc

# generated languages -- temporarily useful for testing

generated/rust/
tools/kwxgen/lang/

# cmake
CMakeFiles/
build/

# VSCode files
.vscode/
*.code-workspace
*.code-search
