name: "Weekly Build"

on:
  schedule:
    - cron: '15 23 * * 0'
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  buildWindows:
    uses: ./.github/workflows/build-win-reusable.yml
    with:
      build-type: Release
